---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- commenting the automatic code for teaching -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<html>
<head>
<style>
  .hidden-border-table {
    border-collapse: collapse;
    width: 60%;
    font-family: inherit; /* Inherit font from body */
    font-size: inherit; /* Inherit font size from body */
    border: none; /* Remove outside border */
  }
  .hidden-border-table td, .hidden-border-table th {
    border: none;
    padding: 0px 10px;
    white-space: nowrap;/* Reduce padding to reduce space between columns */
  }
</style>
</head>
<h2>Instructor</h2> 
NBA 6921: Machine Learning Applications in Business (Fall 2022)<br/>
Rating: 4.6/5 (37 respondents out of 49)

  <h2>Student Comments on Teaching Effectiveness</h2>
    <ul>
        <li>
            <i>"Thank you so much for the class Professor! Learned a lot and this was one of my favorite classes at Cornell :)"</i>
        </li>
        <li>
            <i>"I love the topics in the course. Prof Chintala is a personable, knowledgeable, and clearly intelligent professor. Among the best professors I have had at Cornell.
The intuitive and applicable approach to ML was amazing and far more interesting than the technical details offered in other courses. I would highly recommend this
course be offered as an INFO SCI course."</i>
        </li>
        <li>
            <i>"The way the professor introduced and carried the course throughout the semester was splendid. He took time to go back to old topics and review them
repeatedly as many times as it took for us to clearly understand a concept - which demonstrated a great level of patience. Regular quizzes enhanced our basics. The hint of
humor during the lectures helped us engage more with the class, and the interesting business cases highlighted in the assignments made the course very intriguing.
Additionally, the openness to conversation, the willingness to take out as much time as possible beyond office hours to clear doubts, and the will to reach out to students
himself in private if he felt they are lacking on any aspect reflect his unparalleled dedication."</i>
        </li>
        <li>
            <i>"Learned a lot, enjoyed the class material and good amount of quizzes/assignments that helped to solidify knowledge"</i>
        </li>
        <li>
            <i>"Nothing in particular, the instructor was great!"</i>
        </li>
        <li>
            <i>"I thoroughly enjoyed the class!"</i>
        </li>
      <li>
            <i>"The class is taught super well and I really enjoyed it. I appreciated when we would review a bit in class before continuing on"</i>
        </li>
      <li>
            <i>"You are a great person and professor. Keep up the lovely work and all the best to you in the future prof Chintala."</i>
        </li>
    </ul>

  
<h2>Teaching Assistant</h2> 
<table class="hidden-border-table">
  <tr>
    <td>Strategy and Tactics of Pricing</td>
    <td>Professor Vithala Rao</td>
  </tr>
  <tr>
    <td>Marketing Management</td>
    <td>Professor Khaled Boughanmi</td>
  </tr>
  <tr>
    <td>Digital Marketing</td>
    <td>Professor Tommaso Bondi</td>
  </tr>
  <tr>
    <td>Economics of Consumer Protection & Law</td>
    <td>Professor Alan Mathios</td>
  </tr>
  <tr>
    <td>Capstone Project for MSBA</td>
    <td>Professor Vidur Luthra</td>
  </tr>
  <tr>
    <td>Building a Consumer Internet Business</td>
    <td>Professor Prashant Fuloria</td>
  </tr>
</table>



