---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- commenting the automatic code for teaching -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<h2>Instructor of Record</h2> 
NBA 6921: Machine Learning Applications in Business <br/>
Rating: 4.6/5 (37 respondents out of 49)

<h2>Teaching Assistant</h2> 
Strategy and Tactics of Pricing        - Professor Vithala Rao <br/>
Marketing Management                   - Professor Khaled Boughanmi <br/>
Digital Marketing                      - Professor Tommaso Bondi <br/>
Economics of Consumer Protection & Law - Professor Alan Mathios



