---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- commenting the automatic code for teaching -->
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
<html>
<head>
<style>
  .hidden-border-table {
    border-collapse: collapse;
    width: 60%;
    font-family: inherit; /* Inherit font from body */
    font-size: inherit; /* Inherit font size from body */
    border: none; /* Remove outside border */
  }
  .hidden-border-table td, .hidden-border-table th {
    border: none;
    padding: 0px 10px;
    white-space: nowrap;/* Reduce padding to reduce space between columns */
  }
</style>
</head>
<h2>Singapore Management University</h2> 
MKTG 228: Marketing Analytics (Spring 2026)<br/>
<!-- Rating: 4.6/5 (37 respondents out of 49) -->

  <h3>Student Comments</h3>
    <ul>
        <li>
            <i>"I just wanted to say I’ve really enjoyed your classes this term, they’ve genuinely been one of the highlights of my semester. I especially appreciate how you’ve broken down tools like Tableau and R in a way that feels approachable even for those of us without a coding background. It’s made a big difference in how confident I feel working with data."</i>
        </li>
      <li>
            <i>"I just wanted to take a moment to thank you for your support during my study abroad experience. Your efforts in teaching me will leave a lasting impact on my academic growth and development. You were very enthusiastic about what you taught, which made me excited to practice and show up to class ready to participate. I believe that with any other professor, I would not have learned as much as I did from you, and I will take what I learned from this course into the professional field. SMU has been a wonderful experience, and I am happy to have worked with you for part of it."</i>
        </li>
      <li>
        <i>"He definitely slayed this sem"</i>
      </li>
      <li>
        <i>"Prof is very approachable and he’s willing to address any queries and repeat himself if we find it difficult to grasp some of the methods taught. He can also be entertaining and tries his best to make the class enjoyable and reduce our workload."</i>
      </li>
      <li>
        <i>"He is clear and explanatory in his teaching. He makes the sessions interactive and encourages us to work together in the software. He also explains the reasoning behind what we do and actively tries to involve the whole class."</i>
      </li>
      <li>
        <i>"His patience and kindness."</i>
      </li>
      <li>
        <i>"Instructor is organised in their teaching and presentation skills. He is also caring for students' well-being. When I was unable to make it for class due to feeling unwell, he provided me clear instructions of what to do and also uploaded recording of lesson which I am thankful for."</i>
      </li>
      <li>
        <i>"Prof is very quick in responding to our emails (1 min record!), and he’s very helpful in class exercises, where he makes sure we understand the topics and ideas before moving on."</i>
      </li>
      <li>
        <i>"Funny guy, good speaker, engaging"</i>
      </li>
    </ul>
<h2>Cornell University</h2> 
NBA 6921: Machine Learning Applications in Business (Fall 2022)<br/>
Rating: 4.6/5 (37 respondents out of 49)

  <h3>Student Comments</h3>
    <ul>
        <li>
            <i>"Thank you so much for the class Professor! Learned a lot and this was one of my favorite classes at Cornell :)"</i>
        </li>
        <li>
            <i>"I love the topics in the course. Prof Chintala is a personable, knowledgeable, and clearly intelligent professor. Among the best professors I have had at Cornell.
The intuitive and applicable approach to ML was amazing and far more interesting than the technical details offered in other courses. I would highly recommend this
course be offered as an INFO SCI course."</i>
        </li>
        <li>
            <i>"The way the professor introduced and carried the course throughout the semester was splendid. He took time to go back to old topics and review them
repeatedly as many times as it took for us to clearly understand a concept - which demonstrated a great level of patience. Regular quizzes enhanced our basics. The hint of
humor during the lectures helped us engage more with the class, and the interesting business cases highlighted in the assignments made the course very intriguing.
Additionally, the openness to conversation, the willingness to take out as much time as possible beyond office hours to clear doubts, and the will to reach out to students
himself in private if he felt they are lacking on any aspect reflect his unparalleled dedication."</i>
        </li>
        <li>
            <i>"Learned a lot, enjoyed the class material and good amount of quizzes/assignments that helped to solidify knowledge"</i>
        </li>
        <li>
            <i>"Nothing in particular, the instructor was great!"</i>
        </li>
        <li>
            <i>"I thoroughly enjoyed the class!"</i>
        </li>
      <li>
            <i>"The class is taught super well and I really enjoyed it. I appreciated when we would review a bit in class before continuing on"</i>
        </li>
      <li>
            <i>"You are a great person and professor. Keep up the lovely work and all the best to you in the future prof Chintala."</i>
        </li>
    </ul>

  



